{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    <title>Home</title>
    {% endblock %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/logins/login-4/assets/css/login-4.css">

</head>
{% block conteudo %}
<body style="min-width: 372px;">
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3">
        <div class="container">
            <a class="navbar-brand" href=""><strong>Escola turma do JC</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Home</a>
                    </li>
                </ul>
            </div>
            <div class="align-self-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" class="nav-link text-white">{{usuario_id}}</a>
                    </li>
                    {% if not usuario_logado %}
                    <li class="nav-item">
                        <a href="{% url 'cadastro'%}" class="nav-link text-white">Quero me cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
                    </li>
                    {% endif %}
                    {% if usuario_logado %}
                    <li class="nav-item">
                        <a href="{% url 'sair' %}" class="nav-link text-white">Logout</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>    
                           Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            
                            <a class="dropdown-item" href="{% url 'register' %}">Aluno</a>
                            <hr>
                            <a class="dropdown-item" href="">Administrador</a>

                        </div>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>

    </nav>
    {% endblock %}
    <script>
        $(document).ready(function(){
            var cpfMask = new Inputmask("999-999-999-99");
            cpfMask.mask($("#id_cpf"));
            
            var telefoneMask = new Inputmask("(99)9 9999-9999");
            telefoneMask.mask($("#id_telefone"));
        });
    </script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% endblock %}
</html>